/** theme scripts here **/


@keyframes shk891 {
      0% { transform: translate(0, 0) rotate(0); }
      10%, 20% { transform: translate(-5px, -5px) rotate(-5deg); }
      30%, 50%, 70%, 90% { transform: translate(5px, 5px) rotate(5deg); }
      40%, 60%, 80% { transform: translate(-5px, -5px) rotate(-5deg); }
      100% { transform: translate(0, 0) rotate(0); }
    }

    img {
      animation: shake 0.2s ease-in-out infinite;
    }
